.home-header {
    background-color: #fff9f3;
    padding: 30px 0;
    margin-top: 20px;
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-info-title {
    color: #00bbae;
    font-size: 23px;
    margin-bottom: -20px;
}

.header-title {
    color: #1b1b1b;
    font-size: 70px;
}

.header-img {
    margin-top: 30px;
}

.header-img img {
    width: 100%;
    border-radius: 50px;
}

.header-btn {
    color: #fff;
    font-size: 18px;
    padding: 15px 38px;
    background-color: #ff9b24;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    text-decoration: none;

}

.header-btn:hover {
    background-color: #00bbae;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .header-img {
        margin-top: 0;
    }

    .header-img img {
        border-radius: 30px;
    }

    .header-info-title {
        font-size: 18px;
    }

    .header-title {
        font-size: 45px;
    }
}