.home-header {
    background-color: #fff9f3;
    padding: 30px 0;
    margin-top: 20px;
}

.header-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-info-title {
    color: #00bbae;
    font-size: 23px;
    margin-bottom: -20px;
}

.header-title {
    color: #1b1b1b;
    font-size: 70px;
}

.header-img {
    margin-top: 30px;
}

.header-img img {
    width: 100%;
    border-radius: 50px;
}

.header-btn,
.statistic-link {
    color: #fff;
    font-size: 18px;
    padding: 15px 38px;
    background-color: #ff9b24;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    text-decoration: none;
}

.header-btn:hover,
.statistic-link:hover {
    background-color: #00bbae;
}

/* offers  */


.home-offers {
    margin-top: 80px;
}

.offers-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 15px;
}

.home-offers-info {
    text-align: center;
}

.home-offers-title {
    color: #1b1b1b;
    font-size: 55px;
    margin-bottom: -5px;
}

.home-offers-parag {
    color: #424242;
    font-size: 18px;
}

.offers-card,
.programs-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer-card {
    padding: 40px 20px;
    text-align: center;
    border: 1px dashed #ff9b24;
    border-radius: 50px;
    transition: all 0.3s ease-in;
}

.offer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    color: #ff9b24;
    background-color: #FFECD6;
}

.offer-icon svg {
    font-size: 64px;
}

.offer-card-title {
    color: #1b1b1b;
    font-size: 32px;
    margin: 20px 0;
}

.offer-card-desc {
    color: #424242;
    font-size: 18px;
    margin-bottom: 40px;
}

.offer-link {
    color: #1b1b1b;
    font-size: 18px;
    padding: 15px 38px;
    border: 1px solid #ff9b24;
    background-color: transparent;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    text-decoration: none;
}

.offer-card:hover {
    background-color: #00bbae;
    border-color: #00bbae;
}

.offer-card:hover .offer-link {
    border-color: #fff;
    color: #fff;
}

.offer-card:hover .offer-icon {
    color: #fff;
    background-color: #ff9b24;
}

.offer-card:hover .offer-card-title {
    color: #fff;
}

.offer-card:hover .offer-card-desc {
    color: #fff;
}

/* Statictics */
.home-statistic {
    margin-top: 80px;
}

.statistic-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.statistic-img img {
    border-radius: 50px;
}

.statistic-title,
.programs-title {
    color: #1b1b1b;
    font-size: 55px;
    margin-bottom: -5px;
}

.statistic-parag,
.programs-parag {
    color: #424242;
    font-size: 18px;
}

.stats {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: #00bbae;
    border-radius: 24px;
    padding: 16px 40px;
    color: #fff;
}

.stat {
    display: flex;
    gap: 10px;
    align-items: center;
}

.stat-title {
    font-size: 45px;
    margin: 0;
}

.stat-desc {
    font-size: 16px;
    margin: 0;
}

.extra-stat {
    display: flex;
    gap: 10px;
    align-items: center;
}

.extra-stat svg {
    color: #00bbae;
    font-size: 20px;
}

.extra-stat p {
    color: #424242;
}

/* Programs */

.home-programs {
    margin-top: 80px;
    background-color: #FDF6EC;
}

.programs-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 15px;
}

.programs-info {
    text-align: center;
}

.programs-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
}

.programs-card img {
    width: 100%;
    border-radius: 30px;
}

.program-card-title {
    color: #1b1b1b;
    font-size: 32px;
    margin: 20px 0;
}

.program-card-desc {
    color: #424242;
    font-size: 18px;
    margin-bottom: 20px;
}

.program-stats {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    background-color: #00bbae;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
}

.program-stat {
    display: block;

}

.program-stat-title,
.program-stat-desc {
    margin: 5px 0;
}


/* Accordion */
.accordion-container {
    max-width: 1320px;
    margin: 50px auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.accordion-title {
    color: #1b1b1b;
    font-size: 60px;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.accordion-img img {
    width: 100%;
    border-radius: 30px;
}

/* Forms */
.home-form {
    position: relative;
}

.form-container {
    z-index: 1;
    width: 100%;
    height: 450px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(0, 187, 174, 0.7), rgb(0, 187, 174, 0.7)), url('../../assets/joining-area.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px 0;
    color: #fff;
    border-bottom: 6px solid #ff9b24;
}

.form-title {
    font-size: 55px;
    margin-bottom: 0px;
}

.form-desc {
    font-size: 18px;
    margin-bottom: 20px;

}

.form-btn {
    background-color: #ff9b24;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    text-decoration: none;
    font-size: 18px;
}

.form-btn:hover {
    background-color: #fff;
    color: #ff9b24;
}

/* Teachers */
.home-teachers {
    margin: 50px 0;
}

.teachers-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 15px;
}

.teachers-info {
    text-align: center;
}

.teachers-title {
    color: #1b1b1b;
    font-size: 60px;
    margin-bottom: 20px;
}

.teachers-desc {
    color: #424242;
    font-size: 18px;
    margin-bottom: 20px;
}

.teacher-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.teacher-card {
    position: relative;
    cursor: pointer;
}

.teacher-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
}

.teacher-card-info {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    border-radius: 30px !important;
    left: 0;
    backdrop-filter: blur(100px);
}

.teacher-card-title {
    font-size: 23px;
}

.teacher-card-info p {
    margin: 0 0 15px 0;
}

/* Quotes */
.quotes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}


.quotes-img img {
    width: 750px;
    height: 510.9px;
}

.quotes-info {
    background-image: linear-gradient(rgb(0, 187, 174, 0.7), rgb(0, 187, 174, 0.7)), url('../../assets/bg-shape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 50px;
}

.quotes-title {
    color: #fff;
    font-size: 55px;
}

.stars {
    display: flex;
    gap: 7px;
}

.quotes-desc {
    color: #fff;
    font-size: 22px;
    width: 80%;
}

.accounts {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.accounts svg {
    color: #fff;
    font-size: 68px;
}

.stars svg {
    color: #ff9b24;
    font-size: 22px;
}

/* Footer */
.footer {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .header-img {
        margin-top: 0;
    }

    .header-img img {
        border-radius: 30px;
    }

    .header-info-title {
        font-size: 18px;
    }

    .header-title {
        font-size: 45px;
    }

    .offers-card,
    .programs-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-offers-title {
        font-size: 40px;
    }

    .statistic-container {
        flex-direction: column;
    }

    .statistic-img img {
        width: 100%;
        margin-bottom: -40px;
    }

    .statistic-title {
        font-size: 45px;
    }

    .teachers-title {
        font-size: 50px;
    }

    .teacher-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .teacher-img {
        height: 300px;
    }

    .quotes-img img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }

    .quotes-info {
        padding: 20px;
        border-radius: 30px;
    }

    .quotes-title {
        font-size: 40px;
    }

    .quotes-desc {
        font-size: 18px;
    }

    .accounts svg {
        font-size: 50px;
    }

    .account span {
        font-size: 16px;
    }

    .account img {
        width: 50px;
    }

    .quotes-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}

@media (max-width: 600px) {

    .offers-card,
    .programs-cards {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .offer-icon {
        height: 90px;
        width: 90px;
    }

    .offer-icon svg {
        font-size: 50px;
    }

    .offer-card-title {
        font-size: 26px;
    }

    .offer-card-desc {
        font-size: 16px;
    }

    .offer-link {
        font-size: 16px;
    }

    .statistic-parag {
        font-size: 16px;
    }

    .stats {
        padding: 10px 5px;
        flex-direction: column;
    }

    .stat {
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid #0cffef;
    }

    .stat:last-child {
        border-bottom: none;
    }

    .stat-title {
        font-size: 28px;
    }

    .stat-desc {
        font-size: 14px;
    }

    .statistic-link {
        font-size: 16px;
    }

    .programs-card img {
        border-radius: 20px;
    }

    .program-card-title {
        font-size: 26px;
    }

    .programs-title {
        font-size: 40px;
    }

    .accordion-container {
        flex-direction: column;
        margin: 0px auto 20px auto;
    }

    .accordion-title {
        font-size: 40px;
    }

    .accordion {
        width: 100%;
    }

    .form-container {
        width: 100%;
        height: 300px;
        margin: 40px 0;
        padding: 10px 0;
        background-size: cover;
    }

    .form-title {
        font-size: 30px;
    }

    .form-desc {
        font-size: 16px;
        width: 80%;
        margin: 15px auto;
    }

    .form-btn {
        font-size: 16px;
    }

    .footer {
        flex-direction: column;
        gap: 0px;
        margin-bottom: 5px;
    }

    .teachers-title {
        font-size: 40px;
    }

    .teachers-desc {
        font-size: 16px;
    }

    .teacher-cards {
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .teacher-card {
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
}