@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 60px;
    position: relative;
}

.logo {}

.menu-icon {
    display: none;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons .nav-icon-link {
    color: #00bbae;
}

.nav-element-section {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    padding: 10px 38px;
    background-color: #ff9b24;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.nav-icon-btn:hover {
    background-color: #00bbae;
}

.nav-elements ul a {
    font-size: 18px;
    font-weight: 400;
    color: #1b1b1b;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: #ff9b24;
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1.3px;
    background-color: #ff9b24;
}

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #fef7e5;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-element-section {
        flex-direction: column;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }

    .nav-icons {
        margin-left: 15px;
    }
}